#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

li:hover {
  background-color: #33c3f0;
  color: #fff;
}

header {
  background-color: #dec1ff;
  font-size: 25px;
}

.disclaimer {
  font-size: 10px;
}

/* styling courtesy of http://www.w3schools.com/howto/howto_js_sidenav.asp */
/* the side navigation menu */
.sidenav {
  height: 100%; /* 100% full-height */
  width: 0; /* 0 width - change this with javascript */
  position: fixed; /* stay in place */
  z-index: 1; /* stay on top */
  top: 0;
  left: 0;
  background-color: #93867f;
  overflow-x: hidden; /* disable horizontal scroll */
  padding-top: 60px; /* place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* the navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* when you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

/* position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #7d70ba;
}

/* on smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}